@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156, 155, 155);
}

.bodypage {
  backdrop-filter: blur(50px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-family: "Nixie One", system-ui;
  font-weight: lighter;
  width: 100%;
}

footer {
  background-color: whitesmoke;
  margin-top: auto;
  width: 100%;
  padding: 0px;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: rgba(8, 8, 8, 0.404);
  background-color: whitesmoke;
}
footer .footer-content p {
  flex: 1;
  text-align: center;
  margin: 0;
}
footer .footer-content .footer-images {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 50px;
}

main .bannerservicios {
  position: relative;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* Pseudo-elemento para la imagen de fondo */
}
main .bannerservicios::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../imagenes/Banner web gimnasio duotono violeta.png") no-repeat;
  background-size: cover;
  background-position: center; /* Ajusta la imagen 20px hacia abajo */
  filter: blur(3px); /* Aplica el filtro solo a la imagen */
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}
main .bannerservicios .tituloservicios {
  color: rgba(11, 11, 11, 0.748);
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 130px;
  margin-right: 30px;
  text-align: right;
  line-height: 0.7;
  position: relative; /* Asegura que el texto esté por encima del pseudo-elemento */
  z-index: 1;
}
main .bannerservicios .subtituloservicios {
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-family: "Nixie One", system-ui;
  margin-right: 30px;
  text-align: right;
  position: relative; /* Asegura que el texto esté por encima del pseudo-elemento */
  z-index: 1;
}

nav .navbar-titulo {
  font-size: 18px;
  transition: transform 0.1s;
}
nav .navbar-titulo:hover {
  scale: 1.1;
}
nav div ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}
nav div ul li {
  padding: 5px;
}
nav div ul li .textnav {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding: 5px 10px;
  transition: background-color 0.8s;
}
nav div ul li .textnav:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

main {
  position: relative;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;
}
main .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
main .video-container .background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
main .video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
main .text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  text-align: center;
}
main .text-center .titulocentro {
  color: whitesmoke;
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.1;
  letter-spacing: 0.5px;
  padding-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 90%;
}
main .text-center .subtitulocentro {
  color: whitesmoke;
  font-size: 45px;
  font-family: "Nixie One", system-ui;
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-width: 90%;
}
main .text-center .subtitulocentro .text-container {
  text-align: center;
  font-size: 1em;
}
main .text-center .subtitulocentro .changing-word {
  color: #0d6efd; /* Color diferente para la palabra que cambia */
}
main .text-center #botondeinicio {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 30px;
  margin: 50px 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 26px;
  font-family: "Nixie One", system-ui;
  transition: background-color 0.3s, color 0.3s;
  letter-spacing: 5px;
}
main .text-center #botondeinicio:hover {
  color: grey;
  background-color: whitesmoke;
}
main a.float-whatsapp {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 20px;
  color: #FFF;
  border-radius: 50px;
  z-index: 1000;
}
main a.float-whatsapp img {
  margin: 0px;
  width: 80px;
  height: 80px;
  transition: transform 0.5s;
}
main a.float-whatsapp:hover {
  animation: bounce 0.5s;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

main .card-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Asegura que las tarjetas se distribuyan uniformemente */
  justify-content: center;
  margin: 40px auto;
  gap: 20px;
}
main .card-container .card {
  flex: 0 1 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411); /* Sombra de la tarjeta */
  transition: transform 0.5s; /* Transición suave en transformaciones (hover, etc.) */
  margin: 0 5px; /* Espacio lateral entre las tarjetas */
}
main .card-container .card .card-img-top {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main .card-container .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  flex-grow: 1;
}
main .card-container .card .card-body .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
main .card-container .card .card-body .card-text {
  font-size: 13px;
  margin-bottom: 15px;
}
main .card-container .card .card-body .button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
main .card-container .card .card-body .button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
main .card-container .card .card-body .button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
main .card-container .card .card-body .button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0b4cad;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
main .card-container .card .card-body .button2:hover {
  color: #ffffff;
  border: 1px solid #0b4cad;
}
main .card-container .card .card-body .button2:hover:before {
  top: -35%;
  background-color: #0b4cad;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
main .card-container .card .card-body .button2:hover:after {
  top: -45%;
  background-color: #0b4cad;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

main .containerblog {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
main .containerblog .articulo {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  transform: translateY(50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0.6;
  display: flex;
  align-items: flex-start;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
main .containerblog .articulo:hover {
  opacity: 1;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
main .containerblog .articulo a.articulo-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  flex: 1;
  align-items: flex-start;
}
main .containerblog .articulo img {
  width: 100px;
  height: auto;
  margin: 0 20px 0 10px;
  border-radius: 5px;
}
main .containerblog .articulo .tituloydescrip h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}
main .containerblog .articulo .tituloydescrip p {
  font-family: "Nixie One", system-ui;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

main .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 80px;
}
main .contact-container .mapa {
  flex: 3;
  max-width: 900px;
  height: 400px;
  margin-left: 100px;
}
main .contact-container .info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 50px;
  font-family: "Nixie One", system-ui;
}
main .contact-container .info-container .infocontacto {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
main .contact-container .info-container .infocontacto .titulosinfo {
  font-weight: bold;
  margin-bottom: 10px;
}

.horas {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Estilos generales aquí */
/* Media queries para pantallas pequeñas */
@media only screen and (max-width: 500px) {
  main {
    background-position: right;
  }
  main .text-center .titulocentro {
    font-size: 3em;
    margin: 0px 30px 10px 30px;
    padding: 0;
  }
  main .text-center .subtitulocentro {
    font-size: 1.5em;
    margin: 10px 20px;
  }
  main .text-center .subtitulocentro .text-container {
    font-size: 22px;
  }
  main .text-center .subtitulocentro #botondeinicio {
    margin: 50px 20px;
    font-size: 16px;
    line-height: 1;
  }
  main .navbar-titulo {
    font-size: 18px;
  }
  main nav ul {
    flex-direction: column;
    align-items: center;
  }
  main nav ul li {
    margin: 10px 0;
  }
  main .logo a img {
    left: 20px;
  }
  main .containerblog {
    width: 70%;
    margin: 0 auto;
  }
  main .containerblog .articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0.6;
    width: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  main .containerblog .articulo:hover {
    opacity: 1;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
  main .containerblog .articulo a.articulo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .containerblog .articulo img {
    width: 60%;
    margin: 10px 0;
    border-radius: 5px;
  }
  main .containerblog .articulo h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
  }
  main .containerblog .articulo p {
    font-family: "Nixie One", system-ui;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }
  main .card-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .card-container .card {
    flex: 0 1 auto;
    width: 90%;
    margin: 10px 0;
  }
  main .card-container .card-img-top {
    width: 80%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    margin: 0 auto;
  }
  main .card-container .card-title {
    font-size: 1rem;
  }
  main .card-container .card-text {
    font-size: 0.875rem;
  }
  main .bannerservicios {
    background-position: center top; /* Alinea la imagen con la parte superior */
    min-height: 15vh;
  }
  main .contact-container {
    flex-direction: column;
    align-items: center;
  }
  main .contact-container .mapa {
    margin-left: 0;
    width: 70%;
    height: 500px;
  }
  main .footer-content p {
    font-size: px;
  }
  main .footer-images {
    justify-content: center;
    padding-right: 10px;
  }
}
/* Media queries para pantallas medianas */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  main .text-center .titulocentro {
    font-size: 3em;
    margin: 0px 30px 10px 30px;
    padding: 0;
  }
  main .text-center .subtitulocentro {
    font-size: 1.5em;
    margin: 10px 20px;
  }
  main .text-center .subtitulocentro .text-container {
    font-size: 22px;
  }
  main .text-center .subtitulocentro #botondeinicio {
    margin: 50px 20px;
    font-size: 16px;
    line-height: 1;
  }
  main nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
  main .logo a img {
    left: 30px;
  }
  main .containerblog {
    width: 70%;
    margin: 0 auto;
  }
  main .containerblog .articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0.6;
    width: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  main .containerblog .articulo:hover {
    opacity: 1;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
  main .containerblog .articulo a.articulo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .containerblog .articulo img {
    width: 60%;
    margin: 10px 0;
    border-radius: 5px;
  }
  main .containerblog .articulo h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
  }
  main .containerblog .articulo p {
    font-family: "Nixie One", system-ui;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }
  main .footer-images {
    justify-content: center;
    padding-right: 0;
  }
  main .contact-container {
    flex-direction: column;
    align-items: center;
  }
  main .contact-container .mapa {
    margin-left: 0;
    width: 70%;
    height: 500px;
  }
  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .card-container .card {
    flex: 0 1 auto;
    width: 90%;
    margin: 10px 0;
  }
  .card-container .card-img-top {
    width: 80%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    margin: 0 auto;
  }
  .card-container .card-title {
    font-size: 1rem;
  }
  .card-container .card-text {
    font-size: 0.875rem;
  }
}
/* Media queries para pantallas grandes */
@media only screen and (min-width: 961px) {
  .titulocentro {
    font-size: 8em;
    margin: 10px 50px 20px 50px;
    padding-top: 150px;
  }
  .subtitulocentro {
    font-size: 2.5em;
    margin: 10px 50px 20px 50px;
  }
  #botondeinicio {
    margin: 60px 50px;
    font-size: 2em;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
    font-size: 1em;
  }
  .logo a img {
    width: 100px;
    left: 50px;
  }
  .footer-images {
    justify-content: center;
    padding-right: 60px;
    width: 20px;
    height: 20px;
  }
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-container .mapa {
    margin-left: 0;
    width: 70%;
    height: 500px;
  }
  .info-container {
    width: 25%;
  }
  .articuloservicio {
    width: 20%;
  }
  .containerblog {
    width: 1200px;
  }
  .articulo h2 {
    font-size: 3em;
  }
  .articulo p {
    font-size: 1.4em;
  }
}

/*# sourceMappingURL=estilo.css.map */
