/* Reiniciar márgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho/alto total */
}

/* Variables CSS */
:root {
    --color-primario: white;
    --color-secundario: grey;
    --color-fondo: rgba(0, 0, 0, 0.3);
    --color-borde: #ddd;
    --fuente-primaria: "Nixie One", system-ui;
    --fuente-secundaria: "Bebas Neue", sans-serif;
    --tamano-fuente-grande: 120px;
    --tamano-fuente-mediano: 45px;
    --tamano-fuente-pequeno: 30px;
}

/* Estilos generales del body */
body.paginadeinicio {
    /* background: url('../imagenes/imagen de fondo.png') center top / cover no-repeat;*/ 
    min-height: 100vh;
}

/* Títulos */
.titulocentro {
    color: whitesmoke;
    font-size: var(--tamano-fuente-grande);
    font-family: var(--fuente-secundaria);
    line-height: 0.8;
    letter-spacing: 0.5px;
    padding-top: 50px;
}

.titulocentro:hover {
    color: var(--color-primario);
    transition: transform 0.5s;
}

.subtitulocentro {
    font-size: var(--tamano-fuente-mediano);
    font-family: var(--fuente-primaria);
    text-shadow: 3px 8px 5px rgba(0, 0, 0, 0.5);
}

.subtitulocentro:hover {
    color: var(--color-primario);
    }

/* Botón de inicio */
#botondeinicio {
    background-color: var(--color-fondo);
    padding: 5px 15px;
    margin: 50px 20px;
    color: var(--color-primario);
    text-decoration: none;
    border-radius: 10px;
    font-size: var(--tamano-fuente-pequeno);
    font-family: var(--fuente-primaria);
    transition: background-color 0.3s, color 0.3s;
    letter-spacing: 5px;
    display: inline-block;
}

#botondeinicio:hover {
    color: var(--color-secundario);
    background-color: var(--color-primario);
    
}

/* Estilos del header */
header {
    font-family: var(--fuente-primaria);
    font-weight: lighter;
    width: 100%;
}

.logo a img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 50px;
}

/* Estilos de navegación */
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none; /* Eliminado de li para simplificar */
}

nav ul li {
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primario);
    font-size: 1em;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: whitesmoke !important;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Asegúrate de que el video esté detrás del contenido */
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Asegúrate de que la capa no interfiera con la interacción */
  }
  
  /* Estilos adicionales para asegurar que el contenido se muestre encima del video */
  main {
    position: relative;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
  }
  
  .text-center {
    position: relative;
    z-index: 1;
  }
/* Estilos del footer */
.footer {
    margin-top: autosssss;
    width: 100%;
    padding-bottom: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    background-color: rgba(8, 8, 8, 0.5); /* Fondo semi-transparente */
    color: whitesmoke;
}

.footer-content p {
    flex: 1;
    text-align: center;
    margin: 0;
  
}

.footer-images {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 50px;
}

/* Estilos de la página de servicios */
.bodypage {
    backdrop-filter: blur(20px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main .bannerservicios {
    background: url('../imagenes/Banner web gimnasio duotono violeta.png') center / cover no-repeat;
    min-height: 45vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloservicios, .subtituloservicios {
    color: rgb(148, 148, 148);
    margin-right: 30px;
    text-align: right;
}

.tituloservicios {
    font-size: 100px;
    font-family: var(--fuente-secundaria);
    margin-top: 130px;
    line-height: 0.7;
}

.subtituloservicios {
    font-size: 23px;
    font-family: var(--fuente-primaria);
}

.card-container {
    display: flex;
    gap: 20px; /* Elimina el espacio entre las tarjetas */
    margin: 70px;

  }
  
.card {
    flex: 1; /* Hace que todas las tarjetas ocupen el mismo espacio disponible */
    margin: 0 5px; /* Opcional: Añade un pequeño margen lateral para separar ligeramente las tarjetas */
    max-width: calc(33.333% - 10px); /* Ajusta el ancho de las tarjetas y considera el margen */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
} 
.card:hover{
    transition: 2s;
    scale: 1.1;

}
  .card img {
    width: 100%; /* Asegura que las imágenes ocupen el ancho completo de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px; /* Añade un poco de padding interno a la tarjeta */
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
  }
  

  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

/* Estilos de la página del blog */
.containerblog .articulo img {
    width: 100px;
    height: auto;
    margin: 0 20px 0 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.containerblog {
    width: 800px;
    margin: 0 auto;
    opacity: 0.6;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.containerblog:hover {
    opacity: 1;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.articulo {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.articulo h2 {
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
}

.articulo p {
    font-family: var(--fuente-primaria);
    font-size: 1rem;
    color: black;
    text-shadow: 3px 8px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

/* Estilos de la página de reservas */
.horas {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Estilos de la página de contacto */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 80px;
}

.contact-container .mapa {
    flex: 3;
    max-width: 900px;
    height: 300px;
    margin-left: 100px;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 50px;
    font-family: var(--fuente-primaria);
}

.infocontacto {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.titulosinfo {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Media queries para la responsividad  mobile */
@media only screen and (max-width: 500px) {
    .titulocentro {
        font-size: 4em;
        margin: 0px 30px 10px 30px;
        padding-top: 100px;
    }

    .subtitulocentro {
        font-size: 2em; /* Ajuste para pantallas más pequeñas */
        margin: 10px 20px;
    }
    
    #botondeinicio {
        
        margin: 50px 20px; /* Ajuste del margen */
        font-size: 2em;
        line-height: 1;
    }

    .navbar-titulo{
        font-size: 18px;
    }

    nav ul {
        flex-direction: column; /* Navegación vertical */
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    main{
        background-position: right;
    }
    .logo a img {
        left: 20px; /* Ajuste de posición */
    }
    .footer-content p{
        font-size: 13px;
    }

    .footer-images {
        justify-content: center;
        padding-right: 10px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-container .mapa {
        margin-left: 0;
    }
}
/* Media queries para iPad */
@media only screen and (min-width: 501px) and (max-width: 960px) {
    .titulocentro {
        font-size: 9em; /* Ajustar tamaño del texto */
        margin: 30px 20px 10px 10px;
        padding-top: 100px;
    }

    .subtitulocentro {
        font-size: 4em; /* Ajustar tamaño del subtítulo */
        margin: 10px 20px;
    }

    #botondeinicio {
        font-size: 40px;
        margin: 60px 20px; /* Ajustar margen del botón */
        padding: 50px;
    }

    nav ul {
        flex-direction: row; /* Navegación horizontal */
        justify-content: space-around;
    }

    .logo a img {
        left: 30px; /* Ajustar posición del logo */
    }

    .footer-images {
        justify-content: center;
        padding-right: 0;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-container .mapa {
        margin-left: 0;
        width: 100%; /* Ajustar el mapa al ancho del contenedor */
    }
}
/* Media queries para pantallas de TV (Full HD y superiores) */
@media only screen and (min-width: 961px) {
    .titulocentro {
        font-size: 10em; /* Ajustar tamaño del texto */
        margin: 10px 50px 20px 50px;
        padding-top: 200px;
    }

    .subtitulocentro {
        font-size: 3em; /* Ajustar tamaño del subtítulo */
        margin: 10px 50px 20px 50px;
    } 

    #botondeinicio {
        margin: 60px 50px; /* Ajustar margen del botón */
        font-size: 2em; /* Aumentar tamaño de fuente */
    }

    nav ul {
        flex-direction: row; /* Navegación horizontal */
        justify-content: space-around;
        font-size: 1em; /* Aumentar tamaño de fuente de la navegación */
    }

    .logo a img {
        width: 100px; /* Aumentar tamaño del logo */
        left: 50px; /* Ajustar posición del logo */
    }

    .footer-images {
        justify-content: center;
        padding-right: 60px;
        width: 20px;
        height: 20px;
    }

    .contact-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contact-container .mapa {
        margin-left: 0;
        width: 70%; /* Ajustar el mapa al ancho del contenedor */
        height: 500px; /* Aumentar altura del mapa */
    }

    .info-container {
        width: 25%; /* Ajustar ancho del contenedor de información */
    }

    .articuloservicio {
        width: 20%; /* Ajustar ancho de los artículos de servicio */
    }

    .containerblog {
        width: 1200px; /* Aumentar el ancho del contenedor del blog */
    }

    .articulo h2 {
        font-size: 3em; /* Ajustar tamaño del título */
    }

    .articulo p {
        font-size: 1.5em; /* Ajustar tamaño del texto */
    }
}
