#botondeinicio {
    background-color: $color-fondo;
    padding: 5px 15px;
    margin: 50px 20px;
    color: $color-primario;
    text-decoration: none;
    border-radius: 10px;
    font-size: $tamano-fuente-pequeno;
    font-family: $fuente-primaria;
    @include transition(background-color, 0.3s);
    @include transition(color, 0.3s);
    letter-spacing: 5px;
    display: inline-block;
  
    &:hover {
      color: $color-secundario;
      background-color: $color-primario;

    }
  }
  