/* Estilos generales aquí */

/* Media queries para pantallas pequeñas */
@media only screen and (max-width: 500px) {
  main{
    background-position: right;
    .text-center{
      
      .titulocentro {
        font-size: 3em;
        margin: 0px 30px 10px 30px;
        padding: 0;
      }
    
      .subtitulocentro {
        font-size: 1.5em;
        margin: 10px 20px;
        .text-container {
          font-size: 22px;
        }
    
       #botondeinicio {
        margin: 50px 20px;
        font-size: 16px;
        line-height: 1;
        }
      }

    }

    .navbar-titulo {
      font-size: 18px;
     }

  nav {
    ul {
      flex-direction: column;
      align-items: center;

      li {
        margin: 10px 0;
      }
    }
  }

  .logo {
    a {
      img {
        left: 20px;
      }
    }
  }

  .containerblog {
    width: 70%; // Ajuste para la responsividad
    margin: 0 auto; // Centra el contenedor

    .articulo {
      display: flex;
      flex-direction: column; // Asegura que los elementos se apilen verticalmente
      align-items: center; // Centra los elementos en la columna
      margin: 10px;
      padding: 20px;
      border-radius: 8px;
      background-color: #f9f9f9;
      transition: opacity 0.4s ease, transform 0.4s ease;
      opacity: 0.6;
      width: 100%; // Ocupa todo el ancho disponible
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

      &:hover {
        opacity: 1;
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
      }
      a.articulo-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }

      img {
        width: 60%; // La imagen ocupa el 80% del ancho del contenedor
        margin: 10px 0; // Ajusta el margen para espacio alrededor
        border-radius: 5px;
        
      }

      h3 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.5rem;
        text-align: center; // Centra el texto del título
        margin: 10px 0; // Añade margen para separación visual
      }

      p {
        font-family: "Nixie One", system-ui;
        font-size: 14px;
        text-align: center; // Centra el texto del párrafo
        margin: 10px 0; // Añade margen para separación visual
      }
    }
  }
  

  .card-container {
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 

    .card {
        flex: 0 1 auto; 
        width: 90%; 
        margin: 10px 0; 
    }
    .card-img-top {
      width: 80%; 
      height: auto; 
      max-height: 150px; 
      object-fit:cover; 
      margin: 0 auto; 
  }

    .card-title {
        font-size: 1rem; 
    }

    .card-text {
        font-size: 0.875rem; 
    }
  }


  .bannerservicios {
    background-position: center top; /* Alinea la imagen con la parte superior */
    min-height: 15vh;  
  }

 


  .contact-container {
    flex-direction: column;
    align-items: center;

    .mapa {
      margin-left: 0;
      width: 70%;
      height: 500px
    }
  }

  .footer-content {
    p {
      font-size: px;
    }
  }
  
  .footer-images {
    justify-content: center;
    padding-right: 10px;
  }
 }
} 

/* Media queries para pantallas medianas */
@media only screen and (min-width: 501px) and (max-width: 960px) {

 main{
  .text-center{
      
    .titulocentro {
      font-size: 3em;
      margin: 0px 30px 10px 30px;
      padding: 0;
    }
  
    .subtitulocentro {
      font-size: 1.5em;
      margin: 10px 20px;
      .text-container {
        font-size: 22px;
      }
  
     #botondeinicio {
      margin: 50px 20px;
      font-size: 16px;
      line-height: 1;
      }
    }

  }
 
   nav {
     ul {
       flex-direction: row;
       justify-content: space-around;
      }
    }
 
   .logo {
     a {
       img {
         left: 30px;
        }
      }
    }

    .containerblog {
      width: 70%; // Ajuste para la responsividad
      margin: 0 auto; // Centra el contenedor
  
      .articulo {
        display: flex;
        flex-direction: column; // Asegura que los elementos se apilen verticalmente
        align-items: center; // Centra los elementos en la columna
        margin: 10px 0;
        padding: 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
        transition: opacity 0.4s ease, transform 0.4s ease;
        opacity: 0.6;
        width: 100%; // Ocupa todo el ancho disponible
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  
        &:hover {
          opacity: 1;
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
          transform: scale(1.1);
        }
        a.articulo-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          
        }
  
        img {
          width: 60%; // La imagen ocupa el 80% del ancho del contenedor
          margin: 10px 0; // Ajusta el margen para espacio alrededor
          border-radius: 5px;
          
        }
  
        h3 {
          font-family: "Bebas Neue", sans-serif;
          font-size: 1.5rem;
          text-align: center; // Centra el texto del título
          margin: 10px 0; // Añade margen para separación visual
        }
  
        p {
          font-family: "Nixie One", system-ui;
          font-size: 14px;
          text-align: center; // Centra el texto del párrafo
          margin: 10px 0; // Añade margen para separación visual
        }
      }
    }


 
   .footer-images {
     justify-content: center;
     padding-right: 0;
    }
 
   .contact-container {
     flex-direction: column;
     align-items: center;
 
     .mapa {
      margin-left: 0;
      width: 70%;
      height: 500px;
      }
    }
  }
  

  .card-container {
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 

    .card {
        flex: 0 1 auto; 
        width: 90%; 
        margin: 10px 0; 
    }
    .card-img-top {
      width: 80%; 
      height: auto; 
      max-height: 150px; 
      object-fit:cover; 
      margin: 0 auto; 
  }

    .card-title {
        font-size: 1rem; 
    }

    .card-text {
        font-size: 0.875rem; 
    }
  }

}

/* Media queries para pantallas grandes */
@media only screen and (min-width: 961px) {
  .titulocentro {
    font-size: 8em;
    margin: 10px 50px 20px 50px;
    padding-top: 150px;
  }

  .subtitulocentro {
    font-size: 2.5em;
    margin: 10px 50px 20px 50px;
  }

  #botondeinicio {
    margin: 60px 50px;
    font-size: 2em;
  }

  nav {
    ul {
      flex-direction: row;
      justify-content: space-around;
      font-size: 1em;
    }
  }

  .logo {
    a {
      img {
        width: 100px;
        left: 50px;
      }
    }
  }

  .footer-images {
    justify-content: center;
    padding-right: 60px;
    width: 20px;
    height: 20px;
  }

  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .mapa {
      margin-left: 0;
      width: 70%;
      height: 500px;
    }
  }

  .info-container {
    width: 25%;
  }

  .articuloservicio {
    width: 20%;
  }

  .containerblog {
    width: 1200px;
  }

  .articulo {
    h2 {
      font-size: 3em;
    }

    p {
      font-size: 1.4em;
    }
  }
 
}